.todoTask {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
  gap: 10px;
  align-items: center;
  p {
    max-width: 80%;
    word-break: break-all;
  }
}
.margin-left-button {
  margin-left: auto;
}
.checked-todo {
  text-decoration: line-through;
}
